<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Welcome to Cancerfree</title>
  </head>
  <body>
    <!-- <div id="main"> -->
      <a href="/"><img src="../static/small_logo.png" alt="small_logp" class="smalllogo" style="display:inline;"/></a>
      <ul class="drop-down-menu">
        <li><a href="#">About Us</a>
            <ul>
                <li><a href="\about_whoWeAre">Who We Are</a>
                </li>
                <li><a href="\about_whatWeDo">What We Do</a>
                </li>
            </ul>
        </li>
        <li><a href="\products">Products</a>
          <ul>
            <li><a href="#">Human Cancer</a>
              <ul>
                <li><a href="#">Blood</a>
                </li>
                <li><a href="#">Pleural fluid</a>
                </li>
                <li><a href="#">Ascites</a>
                </li>
                <li><a href="#">Tissue</a>
                </li>
            </ul>
            </li>
            <li><a href="#">Cell Line</a>
              <ul>
                <li><a href="#">Blood</a>
                </li>
                <li><a href="#">Pleural fluid</a>
                </li>
                <li><a href="#">Ascites</a>
                </li>
                <li><a href="#">Tissue</a>
                </li>
            </ul>
            </li>
        </ul>
        </li>
        <li><a href="\links">Links</a>
        </li>
        <li><a href="\others">Others</a>
        </li>
    </ul>
    <div class="login_btn" style="display:inline;"> 
      <ul>
        <li><a href="/login">Log In</a></li>
        <li><a href="/index">Sign Up</a></li>
      </ul>
    </div>
      <!-- <div style="clear:both"></div></div> -->
      <div style="position:relative;">
      <img src="../static/welcome_1.jpg" width="0" height="500" alt="welcome_1"/>
    　<div style="position:absolute; z-index:2; left:80px; top:200px; font-size:25px; font-family:serif; color:#fff">Welcome to Cancerfree Cell Bank</div>
  </body>
</html>
